# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://mayanklodhi1014z_db_user:dbuser123@vaultlink.f90pzmw.mongodb.net/vaultlink

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here

# Frontend URL (for CORS and link generation)
FRONTEND_URL=http://localhost:5173
file